---
import PageLayout from '@layouts/PageLayout.astro';

const modules = import.meta.glob('../../pages/demos/*.astro', { eager: false });
const title = 'Three.js demos';
---

<PageLayout title={title} description="Three js demos">
  <main>
    <div class="demo-list-index">
      <h1>{title}</h1>

      {
        modules ? (
          <div class="demo-list-container">
            <ul class="demo-list">
              {Object.keys(modules).map((module) => {
                const slug = module.substring(module.indexOf('./') + 2, module.indexOf('.astro'));

                return (
                  <li>
                    <a href={slug}>{module}</a>
                  </li>
                );
              })}
            </ul>
          </div>
        ) : null
      }
    </div>
  </main>
</PageLayout>
