---
import Layout from '@layouts/ThreeDemoLayout.astro'

---

<Layout title="Sinus wave">
  <script src="@scripts/demos/01-sinus-wave/main.ts"></script>
  <main>
    <div id="container"></div>
  </main>
</Layout>
