---
import Layout from '@layouts/ThreeDemoLayout.astro'

---

<Layout title="Terrain">
  <script src="@scripts/demos/00-terrain/main.ts"></script>
  <main>
    <div id="container"></div>
  </main>
</Layout>
