---
import Layout from '@layouts/A11yDemoLayout.astro';

export const title = 'Description list';
---

<Layout title={title} description={title}>
  <div class="a11y-demo-container">
    <h1 id="heading">Front-end technologies</h1>
    <dl aria-labelledby="heading">
      <div>
        <dt>HTML</dt>
        <dd>HyperText Markup Language</dd>
      </div>
      <div>
        <dt>CSS</dt>
        <dd>Cascading Style Sheets</dd>
      </div>
      <div>
        <dt>JavaScript</dt>
        <dd>Add interaction to your websites</dd>
      </div>
      <div>
        <dt>Git</dt>
        <dd>Version control</dd>
      </div>
    </dl>
  </div>
</Layout>

<style lang="scss">
  h1 {
    align-self: center;
  }

  dl {
    dt {
      font-weight: bold;
      min-width: 5rem;
    }

    div {
      margin-bottom: 0.5rem;
      dt,
      dd {
        display: inline-block;
      }
    }
  }
</style>
