---
import Layout from '@layouts/A11yDemoLayout.astro';

export const title = 'Details';
---

<Layout title={title} description={title}>
  <div class="a11y-demo-container">
    <h1 id="heading">These are the details</h1>
    <details>
      <summary>Analytics</summary>
      <p>There are some important There are some important things you should know about certain technologies, such as Analytics.</p>
      <div>
        <ul>
          <li>
            <a href="#dashboard-link">Dashboard</a>
          </li>
          <li>
            <a href="#reports-link">Reports</a>
          </li>
          <li>
            <a href="#datasources-link">Data souces</a>
          </li>
        </ul>
      </div>
    </details>
    <details>
      <summary>Finances</summary>
      <div>
        <ul>
          <li>
            <a href="#invoices-link">Invoices</a>
          </li>
          <li>
            <a href="#transactions-link">Transactions</a>
          </li>
          <li>
            <a href="#statements-link">Statements</a>
          </li>
        </ul>
      </div>
    </details>

    <a href="#link">Another link, just for the demo</a>
  </div>
</Layout>

<style lang="scss">
  details {
    width: 20rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    align-self: center;
  }

  ul {
    li {
      margin-bottom: 0.5rem;
    }
  }
</style>
