:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
  font-family: var(--system-ui);
  font-size: 1rem;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.a11y-demo-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.demo-list {
  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  a {
    &:hover {
      background: #000000;
      color: #ffffff;
    }
  }

  &-index {
    padding: 1rem;
  }

  &-container {
    background: rgb(255 255 0 / 3%);
    border: 2px solid rgb(0 0 0 / 100%);
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    justify-items: start;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    align-items: start;
    justify-content: start;
    align-content: start;
    grid-auto-flow: row;
    max-width: 80rem;

    @media screen and (max-width: 50rem) {
      grid-template-columns: 100%;
    }
  }
}

#demo-container {
  position: absolute;
  width: 100vw;
  height: 100vh;

  canvas {
    display: block;
  }
}
