---
import Layout from '../components/ThreeDemoLayout.astro'

---

<Layout title="Playground">
  <script src="../scripts/demos/02-playground/main.ts"></script>
  <main>
    <div id="container"></div>
  </main>
</Layout>
