---
import type { HTMLAttributes } from 'astro/types';

import BackArrow from '@components/BackArrow.astro';

interface Props extends HTMLAttributes<'header'> {
  title: string;
  isScrolling?: true;
}

const { title, isScrolling } = Astro.props;

const className = isScrolling ? 'is-scrolling' : '';
---

<header class={className}>
  <a href="../"><BackArrow />Back</a>
  <span>{title}</span>
</header>

<style lang="scss">
  header {
    width: 100%;
    display: grid;
    background: rgb(0 0 0 / 100%);
    padding: 1rem;
    color: rgb(255 255 255 / 100%);
    z-index: 1;
    border-bottom: 1px solid rgb(255 255 255 / 20%);

    &:not(.is-scrolling) {
      position: fixed;
    }
  }

  a,
  span {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  a {
    justify-self: left;
    color: rgb(255 255 255 / 100%);
  }

  span {
    justify-self: center;
  }
</style>
