---
import Layout from '@layouts/DemoLayout.astro'
---

<Layout title="Shader example - Book of shaders" description="Shader demo using environment script">
  <script src="./main.ts"></script>
  <a href=""></a>
</Layout>

